APP_NAME=MyExpenses
APP_ENV=local
APP_DEBUG=true
APP_URL=http://expenses.local
APP_KEY=change_me_to_random_string

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=expenses
DB_USERNAME=root
DB_PASSWORD=

DB_TEST_DATABASE=expenses_test

DEFAULT_LANG=en

ADMIN_EMAIL=
ERROR_EMAIL=
