project.txt
secrets.txt
.env
.env.production
.env.backup
/vendor/
/node_modules/
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
public/hot
public/storage
public/build
bootstrap/cache/*
!bootstrap/cache/.gitkeep
docs/
_backup/
*.log
.DS_Store
Thumbs.db
.phpunit.result.cache
*.stackdump
npm-debug.log
yarn-error.log
tests/e2e/.auth/
